.appbar {
  background-color: white;
  padding: 15px;
  padding-left: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  font-weight: bold;
  color: rgb(231, 218, 218);

}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  background: #fff;
}

.results-layout {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #d7dfed;
  margin-top: -20px;
}

.flight-column {
  flex: 1;
  min-width: 0;
}

.results-header {
  height: 150px;
  background: rgb(220, 83, 28);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 20px;
}

.header-item {
  height: 70px;
  background: white;
  padding: 8px 15px;
  border-radius: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
  font-size: 10px;
  font-weight: bold;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.value {
  font-size: 20px;
  font-weight: 900;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled-box {
  background-color: #f0f0f0;
}

.disabled-box .label {
  color: #aaa;
}

.placeholder-text {
  color: #999;
  font-weight: normal;
  font-size: 13px;
}

.swap-icon {
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 0 5px;
}