.appbar {
  background-color: white;
  padding: 15px;
  padding-left: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  font-weight: bold;
  color: rgb(231, 218, 218);

}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  background: #fff;
}

.results-layout {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #d7dfed;
  margin-top: -20px;
  margin-bottom: -50px;
}

.flight-column {
  flex: 1;
  min-width: 0;
}

.results-header {
  height: 150px;
  background: rgb(220, 83, 28);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 20px;
}

.header-item {
  height: 70px;
  background: white;
  padding: 8px 15px;
  border-radius: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
  font-size: 10px;
  font-weight: bold;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.value {
  font-size: 20px;
  font-weight: 900;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled-box {
  background-color: #f0f0f0;
}

.disabled-box .label {
  color: #aaa;
}

.placeholder-text {
  color: #999;
  font-weight: normal;
  font-size: 13px;
}

.swap-icon {
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 0 5px;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 -4px 15px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 50px; 
  z-index: 1000;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}

.selection-summary {
  display: flex;
  gap: 40px; 
  align-items: center;
}

.summary-item {
  display: flex;
  flex-direction: column;
}

.summary-label {
  font-size: 11px;
  text-transform: uppercase;
  color: #888;
  font-weight: 700;
  margin-bottom: 2px;
}

.summary-value {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.placeholder {
  color: #ef5350;
  font-style: italic;
  font-size: 14px;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
  color: #ef5350;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
}

.book-btn {
  background-color: #ef5350;
  color: white;
  border: none;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.book-btn:hover {
  background-color: #d32f2f;
}

.book-btn:disabled {
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
}

:host {
  display: block;
  padding-bottom: 100px; 
}