<div class="flight-card" *ngFor="let flight of flights" 
    [class.active-card]="flight.id === selectedId"
    (click)="selectFlight(flight.id)">

    <div class="flight-left">

        <div class="airline">
            {{ flight.airlineName }}
        </div>

        <div class="flight-number">
            {{ flight.flightNumber }}
        </div>

        <div class="route">
            <div class="time-block">
                <div class="time">
                    {{ flight.departureTime | slice:0:5 }}
                </div>
                <div class="airport">
                    {{ flight.sourceAirport }}
                </div>
            </div>

            ←

            <div class="duration">
                {{ formatDuration(flight.duration) }}
            </div>

            →

            <div class="time-block">
                <div class="time">
                    {{ flight.arrivalTime | slice:0:5 }}
                </div>
                <div class="airport">
                    {{ flight.destinationAirport }}
                </div>
            </div>
        </div>

        <div class="flight-meta">
            {{ flight.departureDate | date:'EEE, dd MMM yyyy' }}
        </div>

    </div>

    <div class="flight-right">
        <div class="price">
            Rs {{ flight.basePrice }}
        </div>
        <div class="per-person">
            per adult
        </div>

        <div class="radio-outer">
            <div class="radio-inner" *ngIf="flight.id === selectedId"></div>
        </div>
    </div>

</div>